@using Microsoft.AspNetCore.Components.Routing
@using OrderingSystemNew.Components.Layout

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>

    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Sorry, nothing here.</p>
        </LayoutView>
    </NotFound>
</Router>
